body {
/*  font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
  font-size: .5em; */
}
.well {
  padding: 10px;
}
td.good {
  background-color: rgba(0, 255, 0, 0.50);
  border-right: 1px solid #f5f5f5;
  border-left: 1px solid #f5f5f5;
}
td.bad  {
  background-color: rgba(255, 0, 0, 0.50);
  border-right: 1px solid #f5f5f5;
  border-left: 1px solid #f5f5f5;
}
table {
  margin: 0;
}
